

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.animate-infinite-scroll {
    display: flex;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Optional: Pause animation on hover */
.animate-infinite-scroll:hover {
    animation-play-state: paused;
}


/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Smooth scrolling */
.smooth-scroll {
  scroll-behavior: smooth;
}